<% include header %>
<% include messages %>
<% if (cart && cart.items.length) { %>
  <table class="cart-table table table-bordered table-striped">
    <tbody>
      <% cart.items.forEach(function(product) { %>
        <tr>
          <td>
            <a href="/cart/remove/<%= product.id %><%= product.option ? `/${product.option}` : '' %>">
              <i class="fa fa-remove text-danger"></i>
            </a>
          </td>
          <td class="product-thumb">
            <img src="/images/products/<%= product.image %>" alt="" class="img-thumbnail img-responsive">
          </td>
          <td>
            <%= product.name %>
            <% if (product.option) { %>
              - <%= product.option %>
            <% } %>
          </td>
          <td>
            <%= product.formattedPrice %>
          </td>

        </tr>
      <% }); %>
      <tr class="info">
        <td colspan="5" class="text-right">
          <%= cart.formattedTotal %> <%= process.env.CURRENCY %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="order-form">
    <form action="/cart/checkout" method="post" class="form-horizontal">
      <div class="form-group">
        <label for="email">Enter your email and place your order:</label>
        <input class="form-control" type="email" name="email" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Place Order</button>
      </div>
    </form>
    <p>
      You will receive a response with payment and shipping information. 
    </p>
    <h4>
      Shipping is included!
    </h4>
    <h4>
      No accounts! No signups required!
    </h4>
  </div>
<% } else { %>
  <p class="alert alert-info">Your cart is empty</p>
<% } %>
<% include footer %>
