<% include header %>
<% include messages %>
<% if (cart && cart.items.length && cart.order) { %>
  <table class="cart-table table table-bordered table-striped">
    <tbody>
      <% cart.items.forEach(function(product) { %>
        <tr>
          <td class="product-thumb">
            <img src="/images/products/<%= product.image %>" alt="" class="img-thumbnail img-responsive">
          </td>
          <td>
            <%= product.name %>
            <% if (product.option) { %>
              - <%= product.option %>
            <% } %>
          </td>
          <td>
            <%= product.formattedPrice %>
          </td>
        </tr>
      <% }); %>
      <tr class="info">
        <td colspan="5" class="text-right">
          <%= cart.formattedTotal %> <%= process.env.CURRENCY %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="payment-info">
    <p>
      Find your transaction details at this address... 
    </p>
    <div>
      <span><%- qr %></span>
      <span id="transaction"><%- cart.order.transaction %></span>
    </div>
    <p>
      Submit your transaction ID along with your shipping details below
    </p>
  </div>
  <div class="order-form">
    <p>
      Thank you for your order!
    </p>
  </div>
<% } else { %>
  <p class="alert alert-info">No receipt here. Why not place an order?</p>
<% } %>
<% include footer %>
