<% include header %>
<% include messages %>
<% if (cart && cart.items.length && cart.order) { %>
  <table class="cart-table table table-bordered table-striped">
    <tbody>
      <% cart.items.forEach(function(product) { %>
        <tr>
          <td class="product-thumb">
            <img src="/images/products/<%= product.image %>" alt="" class="img-thumbnail img-responsive">
          </td>
          <td>
            <%= product.name %>
            <% if (product.option) { %>
              - <%= product.option %>
            <% } %>
          </td>
          <td>
            <%= product.prices[cart.preferredCurrency].formattedPrice %>
          </td>
        </tr>
      <% }); %>
      <tr class="info">
        <td colspan="5" class="text-right">
          <%= cart.totals[cart.preferredCurrency].formattedTotal %> <%= cart.preferredCurrency %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="payment-info">
    <p>
      Find your transaction details at this address... 
    </p>
    <div></div>
    <div>
      <span></span>
      <span><%- qr %></span>
      <span id="transaction"><%- cart.order.transaction %></span>
    </div>
    <p>
      Thank you for your order!
    </p>
  </div>
  <div class="shipping-info">
    <header>
      Once your transaction has been verified, your order will be processed and shipped to:
    </header>
    <section>
      <div class='recipient'><%- cart.order.recipient %></div>
      <div class='street'><%- cart.order.street %></div>
      <span class='city'><%- cart.order.city %></span>
      <span class='province'><%- cart.order.province %></span>
      <div class='country'><%- cart.order.country %></div>
      <div class='postcode'><%- cart.order.postcode %></div>
    </section>
    <section>
      <div class='email'>
        <% if (cart.order.email && cart.order.email.trim()) { %>
          <%- cart.order.email %>
        <% } else {  %>
          You declined to provide an email
        <% } %>
      </div>
    </section>
    <footer>
      <div>Send questions to <%- process.env.FROM %></div>
      <div>Keep this order for your records.</div>
    </footer>
  </div>
<% } else { %>
  <p class="alert alert-info">No receipt here. Why not place an order?</p>
<% } %>
<% include footer %>
