<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/assets/order.css" type="text/css" media="screen" />
</head>
<body>
  <section id="content" class="container">
    <h3>Thank you!</h3>
    <p>
      Before your order can be processed, you must reply to this email with:
      <ol>
        <li>A shipping address</li>
        <li>The transaction ID of your payment</li>
      </ol>
    </p>

    <p>
      For shipping, be sure to include your:
      <ol>
        <li>Name</li>
        <li>Street address</li>
        <li>Province or state</li>
        <li>Country</li>
        <li>Postal code</li>
      </ol>
    </p>
    <p>
      Once you've verified that your order is correct (see below), 
    </p>
    <h3>
      Send <%- cart.formattedTotal %> <%- process.env.CURRENCY %> to <%- process.env.WALLET %>
    </h3>
    <table class="cart-table table table-bordered table-striped">
      <tbody>
        <% cart.items.forEach(function(product) { %>
          <tr>
            <td class="product-thumb">
              <img src="cid:<%= product.image %>" class="img-thumbnail img-responsive">
            </td>
            <td>
              <%- product.name %>
              <% if (product.option) { %>
                - <%- product.option %>
              <% } %>
            </td>
            <td>
              <%= product.formattedPrice %>
            </td>
          </tr>
        <% }); %>
        <tr class="info">
          <td colspan="5" class="text-right">
            Total: <%= cart.formattedTotal %> <%= process.env.CURRENCY %>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      Thanks again for your order! You will receive confirmation and a tracking number when it is shipped.
    </p>
  </section>
</body>
</html>
