<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/assets/order.css" type="text/css" media="screen" />
</head>
<body>
  <section id="content" class="container">
    <header>
      <h3>Thank you!</h3>
      <h3>
        Double check your order then... 
      </h3>
    </header>
    <div class="payment-info">
      <div>
        <span>Send:</span>
        <span><%- cart.totals[cart.preferredCurrency].formattedTotal %> <%- cart.preferredCurrency %></span>
      </div>
      <div>
        <span>To:</span>
        <span><img src="cid:qr.png"></span>
        <span id="wallet"><%- wallet.address %></span>
      </div>
    </div>
    <h2>
      Reply to this email with your transaction ID. 
    </h2>
    <hr>
    <h3>
      Your order:
    </h3>
    <table class="cart-table">
      <tbody>
        <% cart.items.forEach(function(product) { %>
          <tr>
            <td class="product-thumb">
              <img src="cid:<%= product.image %>" class="img-thumbnail img-responsive">
            </td>
            <td>
              <%- product.name %>
              <% if (product.option) { %>
                - <%- product.option %>
              <% } %>
            </td>
            <td>
              <%= product.prices[cart.preferredCurrency].formattedPrice %>
            </td>
          </tr>
        <% }); %>
        <tr class="info">
          <td colspan="5" class="text-right">
            Total: <%= cart.totals[cart.preferredCurrency].formattedTotal %> <%= cart.preferredCurrency %>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="shipping-info">
      <header>
        Once your transaction has been verified, your order will be processed and shipped to:
      </header>
      <section>
        <div class='recipient'><%- cart.order.recipient %></div>
        <div class='street'><%- cart.order.street %></div>
        <span class='city'><%- cart.order.city %></span>
        <span class='province'><%- cart.order.province %></span>
        <div class='country'><%- cart.order.country %></div>
        <div class='postcode'><%- cart.order.postcode %></div>
      </section>
      <footer>
        <h4>Reply to this email with your transaction ID and questions.</h4>
        <p>
          Thanks again for your order! You will receive confirmation and a tracking number when it is shipped.
        </p>
      </footer>
    </div>
  </section>
</body>
</html>
